* {
	--color-attantion: #39c2d7;
	--color-important: #7f993a;
	--color-warning: #FF5E99;
}

.reveal li {
	margin: 0.5em 0;	
	list-style: none !important;
}
.reveal pre {
	margin-bottom: 30px;
	width: 100%;
}
.cols {
	overflow: hidden;
}
.col-2 {
	float: left;
	width: 50%;
}

.center-text, ul.center-text, .center-text li {
	text-align: center;
	list-style: none;
}

.mainpage body .slide-background.present {
	background-position: center !important;
	background-size: cover !important;
}


.mainpage .reveal section img {
	position: absolute;
	left: 0;
	top: -100%;
	background: transparent;
	box-shadow:  none;
}

.mainpage body::before {
	content: "";
	position: absolute;
	right: 5%;
	top: 10%;
	z-index: 1;
	width: 288px;
	height: 108px;
	background: url(../img/epam_logo_white.png) center no-repeat;
	background-size: cover;
}

.mainpage body::after {
	content: "25 November, 2021";
	position: absolute;
	right: 7%;
	bottom: 5%;
	font-family: "Oswald Regular";
	font-size: 1.25em;
	color: #fff;
	white-space: nowrap;
}

.mainpage .reveal section h1 {
	margin-top: 50px;
	font-size: 3em;
	color: rgba(255,255,255,.95);
	text-shadow: 0 2px 4px rgba(0,0,0,.5),
				 0 -1px 3px rgba(0,0,0,.5);
}

.mainpage .reveal section h3 {
	margin-top: 50px;
	text-shadow: 0 1px 3px rgba(0,0,0,.5),
				 0 -1px 1px rgba(0,0,0,.5);
}

.mainpage .reveal section > * {
	color: #fff;
}

.preprocc-magic body * {
	color: #fff !important;
}

.reveal .preprocc-magic {
}

.reveal .attantion {
	color: var(--color-attantion) !important;
}

.reveal .warning {
	color: var(--color-warning) !important;
}

.reveal .important {
	color: var(--color-important) !important;
}

.reveal .top {
	position: absolute;
	top: -250px;
}

.reveal .online_item {
	position: relative;
	padding: 0 100px;
}

.reveal .icon {
	position: absolute;
	left: 0;
	transform: translate(50%, -25%);
}

code .stylus,
code .less,
code .sass,
code .css {
	position: relative;
}

code.stylus::after,
code.less::after,
code.sass::after,
code.css::after {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: .75em;
	color: #1a9cb0;
}

code.sass::after {
	content: "Sass";
}

code.css::after {
	content: "CSS";
}

code.less::after {
	content: "LESS";
}

code.stylus::after {
	content: "Stylus";
}

i .link {
	background: url("../img/link.svg");
}
